<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/Edit Bio</title>
</head>
<body>
    <h1>Add/Edit Bio</h1>
    <form method="post">
        {% csrf_token %}
        
        <!-- Years In Business -->
        <label class="text-[#E4E4E7] mt-3" for="years_in_business">Years In Business:</label>
        <input class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" type="number" name="years_in_business" id="years_in_business" value="{{ bio.years_in_business }}" required>
        <br>
        
        <!-- Previous Types of Jobs -->
        <label class="text-[#E4E4E7] mt-3" for="previous_jobs">Previous Types of Jobs:</label>
        <textarea class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" name="previous_jobs" id="previous_jobs" required>{{ bio.previous_jobs }}</textarea>
        <br>
        
        <!-- Spouse -->
        <label class="text-[#E4E4E7] mt-3" for="spouse">Spouse:</label>
        <input class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" type="text" name="spouse" id="spouse" value="{{ bio.spouse }}">
        <br>
        
        <!-- Children -->
        <label class="text-[#E4E4E7] mt-3" for="children">Children:</label>
        <input class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" type="text" name="children" id="children" value="{{ bio.children }}">
        <br>
        
        <!-- Pets -->
        <label class="text-[#E4E4E7] mt-3" for="pets">Pets:</label>
        <input class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" type="text" name="pets" id="pets" value="{{ bio.pets }}">
        <br>
        
        <!-- Hobbies & Interests -->
        <label class="text-[#E4E4E7] mt-3" for="hobbies_interests">Hobbies & Interests:</label>
        <textarea class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" name="hobbies_interests" id="hobbies_interests">{{ bio.hobbies_interests }}</textarea>
        <br>
        
        <!-- City of Residence -->
        <label class="text-[#E4E4E7] mt-3" for="city_residence">City of Residence:</label>
        <input class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" type="text" name="city_residence" id="city_residence" value="{{ bio.city_residence }}">
        <br>
        
        <!-- Years in that City -->
        <label class="text-[#E4E4E7] mt-3" for="years_in_city">Years in that City:</label>
        <input class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" type="number" name="years_in_city" id="years_in_city" value="{{ bio.years_in_city }}">
        <br>
        
        <!-- My Burning Desire -->
        <label class="text-[#E4E4E7] mt-3" for="burning_desire">My Burning Desire:</label>
        <textarea class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" name="burning_desire" id="burning_desire">{{ bio.burning_desire }}</textarea>
        <br>
        
        <!-- Something No One Here Knows About Me -->
        <label class="text-[#E4E4E7] mt-3" for="something_unknown">Something No One Here Knows About Me:</label>
        <textarea class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" name="something_unknown" id="something_unknown">{{ bio.something_unknown }}</textarea>
        <br>
        
        <!-- My Key to Success -->
        <label class="text-[#E4E4E7] mt-3" for="key_to_success">My Key to Success:</label>
        <input class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" type="text" name="key_to_success" id="key_to_success" value="{{ bio.key_to_success }}">
        <br>
        
        <!-- Add/Edit button -->
        <button type="submit">Save</button>
    </form>
</body>
</html>
