{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container mx-auto mt-10">
        <h1 class="text-xl font-bold mb-5">List of Referrals</h1>
        {% if referrals %}
            <ul>
                {% for referral in referrals %}
                    <li class="mb-2 p-2 border border-gray-200 rounded">
                        <strong>To:</strong> {{ referral.to_member.id }} <br>
                        <strong>Date:</strong> {{ referral.date }} <br>
                        <strong>Description:</strong> {{ referral.referral_description }} <br>
                        <strong>Status:</strong> {{ referral.get_referral_status_display }} <br>
                        <strong>Type:</strong> {{ referral.get_referral_type_display }} <br>
                        <strong>Heat:</strong> {{ referral.get_referral_heat_display }} <br>
                        <strong>Comments:</strong> {{ referral.comments }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No referrals found.</p>
        {% endif %}
    </div>
</body>
{% endblock %}
