{% load i18n %}

<!-- Include Bootstrap CSS and FontAwesome in the head of your base template -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% if app_list %}
  <div class="list-group">
    {% for app in app_list %}
      <a href="#app-{{ app.app_label }}" class="list-group-item list-group-item-action" data-toggle="collapse">
        <i class="fas fa-arrow-right transition-icon"></i> {{ app.name }}
      </a>
      <div id="app-{{ app.app_label }}" class="collapse">
        <div class="list-group-item">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="caption">
                  <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">{{ app.name }}</a>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for model in app.models %}
                <tr class="model-{{ model.object_name|lower }}{% if model.admin_url in request.path|urlencode %} current-model{% endif %}">
                  {% if model.admin_url %}
                    <th scope="row">
                      <a href="{{ model.admin_url }}"{% if model.admin_url in request.path|urlencode %} aria-current="page"{% endif %}>
                        {{ model.name }}
                      </a>
                    </th>
                  {% else %}
                    <th scope="row">{{ model.name }}</th>
                  {% endif %}

                  {% if model.add_url %}
                    <td><a href="{{ model.add_url }}" class="btn btn-primary"><i class="fas fa-plus"></i> {% translate 'Add' %}</a></td>
                  {% else %}
                    <td></td>
                  {% endif %}

                  {% if model.admin_url and show_changelinks %}
                    {% if model.view_only %}
                      <td><a href="{{ model.admin_url }}" class="btn btn-secondary">{% translate 'View' %}</a></td>
                    {% else %}
                      <td><a href="{{ model.admin_url }}" class="btn btn-warning">{% translate 'Change' %}</a></td>
                    {% endif %}
                  {% elif show_changelinks %}
                    <td></td>
                  {% endif %}
                </tr>
              {% empty %}
                <tr>
                  <td colspan="3">{% translate 'No models available.' %}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}

<!-- Include Bootstrap JS and dependencies at the end of the body of your base template -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
  .transition-icon {
    transition: transform 100ms;
  }
</style>

<script>
  // jQuery to toggle the icon when the list group item is collapsed or expanded
  $(document).ready(function() {
    $('.list-group-item[data-toggle="collapse"]').on('click', function() {
      var icon = $(this).find('i');
      if (icon.hasClass('fa-arrow-right')) {
        setTimeout(function() {
          icon.removeClass('fa-arrow-right').addClass('fa-arrow-down');
        }, 275); 
      } else {
        setTimeout(function() {
          icon.removeClass('fa-arrow-down').addClass('fa-arrow-right');
        }, 500); 
      }
    });

    $('.collapse').on('shown.bs.collapse', function() {
      var icon = $(this).prev('.list-group-item').find('i');
      setTimeout(function() {
        icon.removeClass('fa-arrow-right').addClass('fa-arrow-down');
      }, 275); 
    });

    $('.collapse').on('hidden.bs.collapse', function() {
      var icon = $(this).prev('.list-group-item').find('i');
      setTimeout(function() {
        icon.removeClass('fa-arrow-down').addClass('fa-arrow-right');
      }, 400); 
    });
  });
</script>
