{% extends './f_base.html' %}
{% load static %}
{% block title %}Add Data{% endblock %}
{% block content %}

<div class=" bg-[#0F172A] min-h-[100vh] flex flex-col justify-around items-center md:flex-row md:justify-center  ">
    <div class="flex items-center justify-center md:w-[60vw] max-[w-80%] ">
      <img src="{% static 'assets/design.png' %}" class=" md:px-0 px-10 mt-10" alt="">
    </div>
    <div class="data sm:w-[40vw] flex flex-col items-center my-5 sm:items-start  sm:my-0 ">
      <h1 class="text-white text-4xl font-bold">Add Data</h1>
      <p class=" text-md w-[80%] text-gray-400 py-2 ">Add Appropriate Data in this page.</p>
      <form method="POST" class="input-box flex flex-col" action="{% url 'add_data' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="path" class="text-[#E4E4E7] mt-3">Path</label>
        <input type="text" id="path" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" required>
        
        <label for="file" class="text-[#E4E4E7] mt-3">File</label>
        <input type="file" id="file" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white  inline-block w-80 mt-2" accept="application/pdf,image/*" required>
        
        <label for="category" class="text-[#E4E4E7] mt-3">Category</label>
        <input type="text" id="category" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white inline-block w-80 mt-2" required>
        
        <label for="title" class="text-[#E4E4E7] mt-3">Title</label>
        <input type="text" id="title" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white inline-block w-80 mt-2" required>

        <button class="bg-blue-600 rounded-full text-xl py-2 text-white w-40 mt-5 hover:bg-blue-800">Add Data</button>
      </form>
    </div>
  </div>


{% endblock %}