{% extends 'base.html' %}
{% block content %}

        <!-- Connection Section -->
        <div class="flex flex-col mt-1">
            <div class="flex justify-between  p-3">
                <h3 class="text-3xl font-bold px-2 flex items-center ">My Connections</h3>
                
            </div>
            <ul class="list-disc list-inside">
                {% for connection in connections %}
                    <li class="py-2">
                        {{ connection.connection.username }}
                        {% if not connection.status == 'accepted' %}
                            <form action="{% url 'send_connection_request' connection.connection.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="ml-4 bg-purple-700 text-white px-2 py-1 rounded hover:bg-white hover:text-purple-700 border">Send Connection Request</button>
                            </form>
                        {% else %}
                            <a href="{% url 'chat' connection.connection.id %}" class="ml-4 text-purple-700 hover:underline">Send Message</a>
                            <a href="{% url 'give_testimonial' connection.connection.id %}" class="ml-4 text-purple-700 hover:underline">Give Testimonial</a>
                            <a href="{% url 'request_testimonial' connection.connection.id %}" class="ml-4 text-purple-700 hover:underline">Request Testimonial</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>


    </div>
</body>
{% endblock content %}