{% extends './a_base.html' %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
    
<div class="h-screen flex flex-col items-center justify-center md:w-auto max-[w-80%] ">
    <div class=" w-screen data sm:w-[100vw] pb-10 flex flex-row justify-center items-center my-5 sm:items-start  sm:my-0 ">
        <h2 class="text-white text-center text-4xl font-bold">Forgot Password</h2>
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    </div>
    <form method="post" action="{% url 'enter_otp' %}">
        <div class="input-box flex flex-col">
            {% csrf_token %}
            <label for="email" class="text-[#E4E4E7] mt-3">Email</label>
            <input type="email" id="email"  class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white inline-block w-80 mt-2" required />

            <input type="submit" class="bg-blue-600 rounded-full text-xl py-2 text-white w-44 mt-5 px-1 hover:bg-blue-800" value="Send OTP" />
        </div>
    </form>
</div>

{% endblock %}


