{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Signup</title>
</head>
<body>
    
    {% if msg %}
    <div style="background-color:#f44336;color:white;">{{msg}}</div>
    {% else %}
    <div></div>
    {% endif %}
    <form method="post" class="bg-[#0F172A] min-h-[100vh] flex flex-col justify-around items-center md:flex-row md:justify-center" novalidate>
        {% csrf_token %}
        <div class="flex items-center justify-center md:w-[60vw] max-[w-80%]">
          <img src="{% static 'assets/design.png' %}" class="md:px-0 px-10 mt-10" alt="">
        </div>
        <div class="data sm:w-[40vw] flex flex-col items-center my-5 sm:items-start sm:my-0">
          <h1 class="text-white text-4xl font-bold">Welcome 👋</h1>
          <p class="text-md w-[80%] text-gray-400 py-2">We are experiencing an issue with Cross Chapter Search. At this time, you Cannot give a Referral or TYFCB Slip to a Member Outside of Your Chapter. We are working diligently to remedy this situation. Referrals and TYFCB within Your Chapter Are Working as Usual.</p>
          <div class="bg-gray-800 rounded-full py-4 px-24 mt-3 inline-flex hover:bg-gray-600">
            <img src="{% static 'assets/google 2.png' %}" class="pr-3" alt="">
            <h2 class="font-semibold text-white">Sign up with Google</h2>
          </div>
          <div class="input-box flex flex-col">
            <label for="username" class="text-[#E4E4E7] mt-3">Username</label>
            <input type="text" name="username" placeholder="Username" id="username" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white inline-block w-80 mt-2" required pattern="[a-zA-Z0-9]+" title="Username should only contain letters and numbers.">
           
            <label for="email" class="text-[#E4E4E7] mt-3">Email address</label>
            <input type="email" name="email" placeholder="example@gmail.com" id="email" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white inline-block w-80 mt-2" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address.">
            
            <label for="password" class="text-[#E4E4E7] mt-3">Password</label>
            <input type="password" name="password" id="password" placeholder="********" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white inline-block w-80 mt-2" required minlength="8" title="Password must be at least 8 characters long.">
            
            <label for="confirmpassword" class="text-[#E4E4E7] mt-3">Confirm password</label>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="********" class="border border-1 border-[#94A3B8] bg-transparent rounded-full p-2 px-3 text-white inline-block w-80 mt-2" required oninput="check(this)">
          
            <button type="submit" value="Sign Up" class="bg-blue-600 rounded-full text-xl py-2 text-white w-40 mt-5 hover:bg-blue-800">Signup</button>
          </div>
        </div>
      </form>
    
<script>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>

</body>
</html>

